<% include ./partials/header %>
    <div class="row">
        <h1 style="text-align: center">orders</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/order" method="POST">
                <div class="form-group">
                    <p>you got some orders requestes !</p>
                    <% if (order._id){ %>
                        <%= order.name %>
                         <%= order.address %>
                        <%= order.postlcode %>
                        <%= order.phone %><br>
                        <%= order.cart %>    
                       
                    
                    <% } %>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Accept</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">reject</button>
                </div>
            </form>
            <a href="/stores">Go Back</a>
        </div>
    </div>
<% include ./partials/footer %>

