<% include ../partials/header %>
<div class="row">
        <div class="col-md-12">
        	
      Sold and Shipped by: <strong><%= product.author.username %></strong>
    
<div class='container'>
	<div class='row'>
	<!-- we are going to have 3 spaces for image white space and pprice -->
	 <div class='col-md-8'>
		<img src="<%=  product.imagePath %>" alt="">
	
	</div>
	<div class='col-md-4'>
	  <h4 class="pull-right ">
     <p> Category:</p> <p><%= product.category %></p>
     <p> Description:</p> <p><%= product.description %></p>
	 <p> price:</p><%= product.price %>$
    	<a href="#"	<%= product.title %>> </a></h4>
    <form method="post"action="/cart/<%= product._id %>">
		<% if (currentUser) { %>
			<button type="submit" class="btn btn-primary btn-lg"> Add to Cart </button>
		<% } else { %>
			<a href="/register" class=btn btn-warning btn-lg">Signup to begin Buying"></a> 
		<% } %>

	</form>
	</div>
  </div>
</div>
       

<% include ../partials/footer %>